
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DeliveryManLayout.cshtml";
}

<h2>Welcome to Delivery Man's page</h2>
@if (ViewBag.Task == 0)
{
    <h3 style="color:red">No Task Remaining</h3>
}
else
{
    <h3>Task Remaining  <span style="color:red">@ViewBag.Task</span></h3>
}
