
@{
    ViewBag.Title = "Login";
    Layout = "/Views/Shared/_HomeCustomerLayout.cshtml";
}


<h2>Login</h2>
<hr />
<form action="/Account/Login" method="post" class="jumbotron">


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="Email" id="Email" value="" class="form-control" placeholder="Name" required />
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-10">
                <input type="password" name="Password" id="Password" value="" class="form-control" placeholder="Password" required />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>

        <a href="/Account/Signup" class="btn-link">Signup</a>
    </div>
</form>
